{% load static %}
{% block content %}
{% include 'header.html' %}

<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <form action="creator_registration" method="POST">
            {% csrf_token %}

            <div class="form-group">
                  <input type="text" class="form-control" name="name" placeholder="Your Name" />
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="phone" placeholder="Phone Number" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="password" placeholder="Password" />
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary py-3 px-5" value="Register as Event Creator">
            </div>
          </form>  
        </div>

      </div>
    </div>
  </div>
  {% include 'footer.html' %}
  {% endblock %}