{% load static %}
{% block content %}
{% include 'header.html' %}

<link rel="stylesheet" href="{% static 'css/profileDesign.css' %}">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="profile-container d-flex justify-content-center align-items-center">

  <div class="profile-card">

    <div class="profile-upper">

      <!-- <img src="https://i.imgur.com/Qtrsrk5.jpg" class="profile-image img-fluid"> -->
      <img src="{% static '/images/cover_pic.jpg' %}" class="profile-image img-fluid">

    </div>

    <div class="profile-user text-center">

      <div class="profile-avatar">

        <!-- <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle profile-picture" width="80"> -->
        <span id="avatar" class="material-symbols-outlined">
          account_circle
        </span>

      </div>

    </div>


    <div class="profile-info text-center">
      <br>
      <h4 class="profile-name">{{result.name}}</h4>
      <span class="profile-email  d-block mb-2">Email : {{result.email}}</span>
      <span class="profile-phone  d-block mb-2">Phone : {{result.phone_number}}</span>
      <span class="profile-phone  d-block mb-2">Balance : {{result.balance}}</span>
      <a href="acc_update" class="acc_updation">Update Account</a>
      <a href="pass_change" class="acc_updation">Change Password</a>


      {% if messages %}

      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}



      <div class="profile-stats d-flex justify-content-between align-items-center mt-4 px-4">







      </div>

    </div>

  </div>

</div>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

  .profile-container {
    height: 100vh;
    background-color: #222831;
  }

  .profile-card {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #C7C8CC;
    position: relative;
    height: 370px;
  }

  .profile-name {
    color: rgb(238, 30, 70);
    margin-top: 25px;
    font-weight: 500;

  }

  .profile-upper {
    height: 100px;
  }

  .profile-upper img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .profile-user {
    position: relative;
  }

  .profile-avatar img {
    height: 80px;
    width: 80px;
    margin-top: 2px;
  }

  .profile-avatar {
    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }

  .profile-follow {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
  }

  .profile-stats span {
    font-size: 29px;
  }

  #avatar {
    font-size: 80px;
    color: rgb(13, 183, 13);
  }

  .profile-name,
  .profile-email,
  .profile-phone {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #810000;

  }
</style>

{% include 'footer.html' %}
{% endblock %}